<script src="/xmglg/public/static/admin/js/jquery.min.js?v=2.1.4"></script>
<script src="/xmglg/public/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/xmglg/public/static/admin/js/content.min.js?v=1.0.0"></script>
<script src="/xmglg/public/static/admin/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/xmglg/public/static/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/xmglg/public/static/admin/js/plugins/layer/laydate/laydate.js"></script>
<script src="/xmglg/public/static/admin/js/plugins/switchery/switchery.js"></script>
<!--IOS开关样式-->
<script src="/xmglg/public/static/admin/js/jquery.form.js"></script>
<script src="/xmglg/public/static/admin/js/layer/layer.js"></script>
<script src="/xmglg/public/static/admin/js/laypage/laypage.js"></script>
<script src="/xmglg/public/static/admin/js/laytpl/laytpl.js"></script>
<script src="/xmglg/public/static/admin/js/lunhui.js"></script>
<script type="text/javascript" charset="utf8" src="/xmglg/public/static/admin/js/plugins/dataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/xmglg/public/static/admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
$(document).ready(function() { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });
</script>
<script>
$(document).ready(function() {
    $('#example').dataTable({
        "lengthMenu": [5, 10, 20, 50, 100],
        "language": {
            "zeroRecords": "没有检索到数据",
            "lengthMenu": "每页 _MENU_ 条记录",
            "search": "搜索 ",
            "info": "共 _PAGES_ 页，_TOTAL_ 条记录，当前显示 _START_ 到 _END_ 条",
            "paginate": {
                "previous": "上一页",
                "next": "下一页",
                "decimal": ",",
                "thousands": "."
            }

        },
    });
});
</script>