{include file="public/header"/}

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <div>尊敬的会员<span id="weather"></span></div>
        </div>
        {if condition="$Request.session.id eq null"}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目列表</h5>
            </div>
            <div class="ibox-content">
                <!--搜索框开始-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2" style="width: 100px">
                            <div class="input-group">
                                <a href="{:url('pro_Add')}"><button class="btn btn-outline btn-primary" type="button">添加项目</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--搜索框结束-->
                <div class="hr-line-dashed"></div>
                <div class="example-wrap">
                    <div class="example">
                        <table id="example" class="  table table-bordered table-hover">
                            <thead>
                                <tr class="long-tr">
                                    <th>项目编号</th>
                                    <th>项目名称</th>
                                    <th width="15%">添加时间</th>
                                    <th width="15%">更新时间</th>
                                    <th width="20%">操作</th>
                                </tr>
                            </thead>
                            <tbody id="article_list">
                                {foreach name="list" item="vo"}
                                <tr class="long-td">
                                    <td>{$vo.pro_number}</td>
                                    <td>{$vo.pro_name}</td>
                                    <td>{$vo.pro_create_time}</td>
                                    <td>{$vo.pro_update_time}</td>
                                    <td>
                                        <a href="{:url('pro_in',['id'=>$vo.id,'name'=>$vo.pro_name,'number'=>$vo.pro_number])}" class="btn btn-info btn-outline btn-xs">
                                            <i class="fa fa-paste"></i> 进入</a>&nbsp;&nbsp;
                                        <a href="{:url('proUpdate',['id'=>$vo.id])}" class="btn btn-primary btn-outline btn-xs">
                                            <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="{:url('proDelete')}?id={$vo.id}" onclick="return confirm('是否确认删除?')" class="btn btn-danger btn-outline btn-xs"> <i class="fa fa-trash-o"></i> 删除</a>
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {else /}
        <span>您好 欢迎进入{$Request.session.name}项目</span>
        请继续添加项目相关信息等相关
        <a href="{:url('pro_out')}"><button class="btn btn-outline  btn-info" type="button">退出</button></a>
        {/if}
    </div>
    {include file="public/footer" /}
    <script src="/xmglg/public/static/admin/js/jquery.leoweather.min.js"></script>
    <script type="text/javascript">
    $('#weather').leoweather({ format: '，{时段}好！<span id="colock">现在时间是：<strong>{年}年{月}月{日}日 星期{周} {时}:{分}:{秒}</strong></span>  ' });
    </script>
</body>

</html>