{include file="public/header" /}
<style type="text/css">
/* TAB */
.nav-tabs.nav>li>a {
    padding: 10px 25px;
    margin-right: 0;
}

.nav-tabs.nav>li>a:hover,
.nav-tabs.nav>li.active>a {
    border-top: 3px solid #1ab394;
    padding-top: 8px;
    border-bottom: 1px solid #FFFFFF;
}

.nav-tabs>li>a {
    color: #A7B1C2;
    font-weight: 500;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}
</style>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>xxx项目情况一览</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">项目信息</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">任务发布</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">费用回收</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">费用回收</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <form action="{:url('save')}" method="post" class="form-horizontal">
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                        </form>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <form action="{:url('save')}" method="post" class="form-horizontal">
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                        </form>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <form action="{:url('save')}" method="post" class="form-horizontal">
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                        </form>
                                    </div>
                                    <div id="tab-4" class="tab-pane">
                                        <form action="{:url('save')}" method="post" class="form-horizontal">
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                            </div>
                                        </form>
                                    </div>
                                    < {include file="public/footer" /} <script type="text/javascript">
                                        var config = {
                                        '.chosen-select': {},
                                        }
                                        for (var selector in config) {
                                        $(selector).chosen(config[selector]);
                                        }
                                        </script>
</body>

</html>