<!--侧边菜单-->
<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo">
            <span>畅想谷</span>
        </div>
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li class="layui-nav-item">
                <a href="javascript:;" lay-href="home" lay-tips="主页" lay-direction="2" class="layui-this">
                    <i class="layui-icon layui-icon-auz"></i>
                    <cite>主页</cite>
                </a>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">项目情况<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a lay-href="{:url('project/index')}">项目列表</a>
                        <a lay-href="{:url('project/add')}">项目添加</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">项目切块<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a lay-href="{:url('projectCut/index')}">切块列表</a>
                        <a lay-href="{:url('projectCut/projectadd')}">切块添加</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">任务相关<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a lay-href="{:url('projectTask/index')}">任务列表</a>
                        <a lay-href="{:url('projectTask/projectAdd')}">任务添加</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">费用回收<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a lay-href="{:url('projectRecycle/index')}"> 回收列表</a>
                        <a lay-href="{:url('projectRecycle/projectAdd')}">发票添加</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">费用支出<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a lay-href="{:url('projectReimburse/index')}"> 支出列表</a>
                        <a lay-href="{:url('projectReimburse/projectAdd')}">报销添加</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">项目外协<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a lay-href="{:url('projectOutsce/index')}"> 外协列表</a>
                        <a lay-href="{:url('projectOutsce/projectAdd')}">外协添加</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>