{include file="public/header" /}

<body class="gray-bg">
    <div class="form-group">
        <div class="input-group col-sm-12">
            <script src="/xmglg/public/static/admin/ueditor/ueditor.config.js" type="text/javascript"></script>
            <script src="/xmglg/public/static/admin/ueditor/ueditor.all.js" type="text/javascript"></script>
            <textarea name="content" style="width:100%" id="myEditor">
<h1> {$list.pro_number}</h1>
<p >项目名称:{$list.pro_name}</p>
<p>项目来源:{$list.source}</p>
<p>项目性质:{$list.nature}</p>
<p>项目类型:{$list.pro_type}</p>
<p>项目委托单位:{$list.unit_name}</p>
<p>项目委托单位行业:{$list.unit_industy}</p>
<p>项目签订时间:{$list.time}</p>
<p>项目工期:{$list.startdate}--{$list.enddate}</p>
<p>项目签订部门:{$list.department}</p>
<p>项目经办人:{$list.agent}</p>
<p>项目合同额:{$list.amount}</p>
<p>项目决算额:{$list.account}</p>
<p>项目决算日期:{$list.acc_time}</p>

            </textarea>
            <script type="text/javascript">
            var editor = new UE.ui.Editor();
            editor.render("myEditor");
            </script>
        </div>
    </div>
    <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
    {include file="public/footer"/}
    <script>
    </script>
</body>

</html>